
@using Car.Entities
@model List<Cars>



<form method="post" asp-action="FilterByColor">
    <label>Enter optional colors:</label>
    <input class="mt-6" type="text" name="filterbycolor" />
    <button type="submit" class="btn btn-secondary mt-6">Search</button>
    <div class="text-end mb-3">
        <a asp-controller="Car" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Create New Car
        </a>
    </div>
</form>

<div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="card-header bg-secondary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">List of Cars</h2>
            </div>
        </div>
    </div>
    <table class="table table-bordered	table-striped mt-1">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Color</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cars in Model)
            {
                <tr>
                    <td>@cars.Manufacturer</td>
                    <td>@cars.Model</td>
                    <td>@cars.Color</td>
                    <td>@cars.Price$</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<form method="post" asp-action="PriceRange">
    <label>Minimal price:</label>
    <input type="number" name="startPrice" required />
    <label>Maximal price:</label>
    <input type="number" name="endPrice" required />
    <button type="submit" class="btn btn-secondary">Search</button>
    <a asp-controller="Car" asp-action="Index" class="btn btn-secondary">
        Back to List
    </a>


</form>

